---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Education" description="Educational background and qualifications.">
  <h1>Mon parcours éducatif</h1>
  <h2>ESILV</h2>
  <p>J'ai effectué mes études supérieurs à l'École Supérieure d'Ingénieurs Léonard de Vinci, à la Défense.</br>
  J'y ai suivi un cursus généraliste, avec une attention particulière portée aux sciences informatiques. L'école est intégrée au Pôle Universitaire
  Léonard de Vinci, regroupant une école d'ingénieurs, une école de commerce et une école du numérique. Cela m'a permis de développer mes compétences
  interdisciplinaires et interpersonnelles de manière beaucoup plus efficace. </p>
  <h4>Soft skills</h4>
  <p>Le Pôle Léonard de Vinci tient particulièrement à mettre en avant les soft skills dans la formation ; c'est ainsi que j'ai pu suivre des cours de 
  communication interpersonnelle avancés, basés sur les théories MBTI, des cours de gestion de projet avec un focus particulier sur le temps,
  (https://www.youtube.com/watch?v=SqGRnlXplx0) et des cours de prise de parole en public.
  </p>
  <h4>Énergies et Villes Durables</h4>
  <p>Après les deux années de prépa intégrée et une année de cycle licence généraliste, j'ai poursuivi mon cursus dans la majeure Énergies et Villes
  Durables.
  </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/B-obf8Uingo?si=fWND_m_nCHmk-uqZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


  <h2>Riga Technical University</h2>
  <h4>Semestre à l'étranger</h4>
  <p>J'ai eu la chance de pouvoir effectuer un semestre à la Riga Technical University, de septembre 2025 à janvier 2026. Ce semestre a été l'occasion
    de m'immerger dans un environnement international, et donc de pratiquer les langues anglaise et russe au quotidien.
  </p>
  <h4>Entre sciences sociales et informatique</h4>
  <p>Pour ce semestre, j'ai pu choisir des cours que j'ai jugés profondément importants pour mon développement personnel ; International Economy, 
    Rhetorics, Political Philosophy. J'ai également choisi des cours importants dans l'immédiat pour mes activités professionnelles ; Natural Language
    Processing, Machine Learning, Advanced Data Processing Techniques, AI in Humanities.
  </p>
  <h4>Enseignement et mentorat</h4>
  <p>Afin de me préparer à une potentielle activité d'enseignement, mais aussi pour faire progresser ma maîtrise des langues étrangères, j'ai effectué 
    différents types de missions gratuitement durant ce semestre ; notamment de l'enseignement en informatique, du mentorat pour de la rédaction de CVs et 
    lettres de motivation, des pages de data visualisation et des rapports de data analyse.
  </p>

  <h2>Lycée Rémi Belleau</h2>
</Layout>