---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects - Flow" description="Project page for Flow.">
  <section class="bg-part">
    <h1>Flow</h1>
    <p>Project details coming soon.</p>
  </section>
</Layout>
