---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects - xMarket" description="Project page for xMarket.">
  <section class="bg-part">
    <h1>xMarket</h1>
    <p>Project details coming soon.</p>
  </section>
</Layout>
